section .animate {
    transition: 0.9s;
   
}

.section.show-animate .animate{
    filter: blur(0);
}

.sec-1 .animate {
    transform: translateX(-100%);
}

.sec-1.show-animate .animate {
    transform: translateX(0);
}

.sec-2 .animate {
    transform: translateX(100%);
}

.sec-2.show-animate .animate {
    transform: translateX(0);
}

.sec-3 .animate {
    transform: scale(.7);
}

.sec-3.show-animate .animate {
    transform: scale(1);
}